{# Este é o corpo de texto do e-mail de redefinição de senha. #}
{# Ele usa a sintaxe de templates do Django para inserir informações dinâmicas. #}
Prezado(a) usuário(a),

Uma solicitação para redefinição de senha foi realizada para a conta associada a este endereço de e-mail ({{ email }}) no sistema Advocacia Manager.

Para prosseguir e definir uma nova senha, por favor, acesse o link abaixo. Ele é de uso único e irá expirar após um curto período.

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Se você não fez esta solicitação, por favor, ignore esta mensagem com segurança. Nenhuma alteração será feita em sua conta.

Atenciosamente,

A Equipe do Advocacia Manager.
