<div class="modal fade" id="adicionarMovimentacaoModal" tabindex="-1" aria-labelledby="adicionarMovimentacaoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <form method="post" action="">
                {% csrf_token %}
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="adicionarMovimentacaoModalLabel">Adicionar Nova Movimentação</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="{{ form_movimentacao.tipo_movimentacao.id_for_label }}" class="form-label">{{ form_movimentacao.tipo_movimentacao.label }}</label>
                        {{ form_movimentacao.tipo_movimentacao }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form_movimentacao.titulo.id_for_label }}" class="form-label">{{ form_movimentacao.titulo.label }}</label>
                        {{ form_movimentacao.titulo }}
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="{{ form_movimentacao.data_prazo_final.id_for_label }}" class="form-label">{{ form_movimentacao.data_prazo_final.label }}</label>
                            {{ form_movimentacao.data_prazo_final }}
                        </div>
                        <div class="col-md-6 mb-3 d-none" id="div_id_hora_prazo">
                            <label for="{{ form_movimentacao.hora_prazo.id_for_label }}" class="form-label">{{ form_movimentacao.hora_prazo.label }}</label>
                            {{ form_movimentacao.hora_prazo }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="{{ form_movimentacao.detalhes.id_for_label }}" class="form-label">{{ form_movimentacao.detalhes.label }}</label>
                        {{ form_movimentacao.detalhes }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form_movimentacao.link_referencia.id_for_label }}" class="form-label">{{ form_movimentacao.link_referencia.label }}</label>
                        {{ form_movimentacao.link_referencia }}
                        {% if form_movimentacao.link_referencia.help_text %}
                            <small class="form-text text-muted">{{ form_movimentacao.link_referencia.help_text }}</small>
                        {% endif %}
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="{{ form_movimentacao.responsavel.id_for_label }}" class="form-label">{{ form_movimentacao.responsavel.label }}</label>
                            {{ form_movimentacao.responsavel }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ form_movimentacao.status.id_for_label }}" class="form-label">{{ form_movimentacao.status.label }}</label>
                            {{ form_movimentacao.status }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" name="submit_movimentacao" class="btn btn-primary">Salvar Movimentação</button>
                </div>
            </form>
        </div>
    </div>
</div>